.bored{
    display: grid;
    grid-template: auto 1fr auto;
    width: 100%;
}
.main{
    display: grid;
    grid-template-columns: minmax(150px, 70%) 1fr;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-right: 2rem;
    margin-top: 0.83em;
    --width: 50%;
}
.buttons{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.buttons > button {
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    color: #8490a4;
    border: 0;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #eceef9;
    border-radius: 50px;
    box-shadow:  4px 4px 12px #c9cad4,
                       -4px -4px 12px #ffffff;
}
.buttons > button:hover {
    color: #fc85ae;
}
.buttons > button:active {
    color: #fc85ae;
}
#regen{
    margin: 5px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
        color: #8490a4;
        border: 0;
        border-radius: 5px;
        letter-spacing: 1px;
        background: #eceef9;
        border-radius: 50px;
        box-shadow:  4px 4px 12px #c9cad4,
                           -4px -4px 12px #ffffff;
}
#regen: hover{
    color: #fc85ae;
}