.bored{
    display: grid;
    grid-template: auto 1fr auto;
    width: 100%;
    background: rgb(170,174,242);
background: linear-gradient(176deg, rgba(170,174,242,1) 0%, rgba(209,211,244,1) 100%);
}
.main{
    display: grid;
    grid-template-columns: minmax(150px, 70%) 1fr;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-right: 2rem;
    margin-top: 0.83em;
    --width: 50%;
}
.buttons{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.buttons > button {
    margin: 5px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    --color: #8490a4;
    color: #ebebeb;
    border: 0;
    border-radius: 5px;
    letter-spacing: 1px;
    --background: #eceef9;
    background: #57669e;
    --box-shadow:  4px 4px 12px #c9cad4,
                       -4px -4px 12px #ffffff;
}
.buttons > button:hover {
    background-color: rgba(0,0,0,0.5);
    transition-duration: 0.2s;
}
.buttons > button:active {
    background-color: rgba(0,0,0,0.7);
    transition-duration: 0.1s;
}
#regen{
    margin: 5px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
        border: none;
        --color: #8490a4;
        color: #ebebeb;
        border: 0;
        border-radius: 5px;
        letter-spacing: 1px;
        --background: #eceef9;
        background: #57669e;
        --box-shadow:  4px 4px 12px #c9cad4,
                           -4px -4px 12px #ffffff;
}
#regen:hover{
    background-color: rgba(0,0,0,0.5);
    transition-duration: 0.2s;
}
#regen:active{
    background-color: rgba(0,0,0,0.7);
    transition-duration: 0.1s;
}
