.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    color: #fc85ae;
}
.cardImage{
    width: 226px;
    height: 314px;
}
#drawCard{
    margin: 5px;
    padding: 5px;
    margin-top: 0.83em;
    border: none;
    color: #495a80;
    font-size: 1.2em;
    letter-spacing: 2px;
    background: #303a52;
    border-radius: 5px;
    box-shadow:  6px 6px 12px #293146,
             -6px -6px 12px #37435e;
}
#drawCard:hover{
  color: #fc85ae;
  transition-duration: 0.2s;
}
@media(max-width: 991px){
   .card{
    width: 100%;
    max-width: 100%;
   }
}
