.nameday{
  --min-width: 150px;
  margin: 10px;
  padding: 2rem;
  border-radius: 25px;
  background: #c5e3f6;
  color: #303a52;
  font-weight: 900;
  letter-spacing: 2px;
  width: 100%;
}
.namedayTitle{
    width: calc(100% - 60px);
    margin-top: 0.2em;
}
@media(max-width: 991px){
  .nameday{
      width: 100%;
      height: auto;
      max-width: 100%;
      min-width: 100%;
  }
}
