.norris{
    position: relative;
    margin: 10px;
    border-radius: 25px;
    background: #eceef9;
    font-weight: 900;
}
.norrisTitle{
    position: relative;
    width: 100%;
    margin-top: 0.2em;
}
