html, body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: #303a52;
    font-family: 'Montserrat', sans-serif;
    --font-family: 'Raleway', sans-serif;
}
.panel{
    margin: 10px;
    padding: 2rem;
    border-radius: 25px;
    background: #303a52;
}
.container{
    display: grid;
    width: 100%;
    grid-template-columns: minmax(350px, 80%) 1fr;
}
#root{
    width: 80vw;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #465780;
    padding: 2rem;
    border-radius: 50px;
}
div{
    --max-width: 90vw;
        --border-radius: 25px;
        --box-shadow:  2px 2px 6px #c9cad4,
                         -2px -2px 6px #ffffff;
}
hr{
  margin-top: 2px;
}
.refresh{
  border: none;
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  right: 0;
}
.placeholder{
  position: relative;
  width: 100%;
  margin-bottom: 2px;
}
.refreshImage{
  padding: 5px;
  margin: 0;
  height: 30px;
  border-radius: 50px;
  --box-shadow:  2px 2px 6px #c9cad4,
                   -2px -2px 6px #ffffff;
}
.refreshImage:hover{
  background-color: rgba(252, 133, 174, 0.5);
  transition-duration: 0.2s;
}
.leftMain > div {
    display: flex;
}
.rightMain{
    max-width: 300px;
}
.contactBar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactBar > a {
  margin: 5px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
}
.contactBar > a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.2s;
}
.contactImage{
  max-width: 40px;
  max-height: 40px;
  padding: 5px;
}

@media(max-width: 991px){
  html, body{
    background-color: #465780;
  }
  .container{
    display: block;
    width: 100%;
  }
  .leftMain > div {
      display: block;
  }
  .rightMain{
      max-width: 100%;
      display: block;
  }
  #root{
      width: 90vw;
      margin: 0;
      background-color: #465780;
      padding: 0;
      border-radius: 0;
  }
  .panel{
    width: 100%;
  }
}
