body{
    background-color: #98acfe;
    font-family: 'Montserrat', sans-serif;
    --font-family: 'Raleway', sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div{
    max-width: 90vw;
        border-radius: 25px;
        box-shadow:  2px 2px 6px #c9cad4,
                         -2px -2px 6px #ffffff;
}